@font-face {
    font-family: Raleway;
    src: url("Raleway/static/Raleway-Regular.ttf");
    font-weight: 400
}

@font-face {
    font-family: Raleway;
    src: url("Raleway/static/Raleway-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Open Sans;
    src: url("Open_Sans/static/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf");
    font-weight: 400
}

:root {
    /* # Primary */
    --very-dark-blue: hsl(243, 87%, 12%): --desaturated-blue: hsl(238, 22%, 44%);
    /* # Accent */
    --bright-Blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    /* # Neutral */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    --white: #ffffff;
    --margin-left: 5em;
    --magin-right: 5em;
    box-sizing: border-box;
    font-family: Raleway;
    font-size: 15px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Raleway;
    font-size: 1.1em;
    --very-dark-blue: hsl(243, 87%, 12%): --desaturated-blue: hsl(238, 22%, 44%);
}

.container {
    padding: 30px;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation {
    display: flex;
    justify-content: space-between;
}