@font-face {
    font-family: Raleway;
    src: url("Raleway/static/Raleway-Regular.ttf");
    font-weight: 400
}

@font-face {
    font-family: RalewayBold;
    src: url("Raleway/static/Raleway-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: OpenSans;
    src: url("Open_Sans/static/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf");
    font-weight: 400
}

:root {
    /* # Primary */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    /* # Accent */
    --bright-Blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    /* # Neutral */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    --white: #ffffff;
    --margin-left: 5em;
    --magin-right: 5em;
}


/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

body {
    margin: 0;
    font-family: OpenSans;
    font-size: 1.2em;
    color: var(--very-dark-blue);
    font-weight: 400;
}

img {
    max-width: 100%;
}

.flex>div,
.flex>ul {
    flex: 1;
}

h1,
h2,
h4 {
    font-family: RalewayBold;
}

h2 {
    font-size: 1.2em;
    margin-top: 0
}

.container {
    padding: 30px;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.align-start {
    align-items: flex-start;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin-left: 50px;
}

nav ul a {
    color: var(--very-dark-blue);
    font-family: Raleway;
    text-decoration: none;
}

.form {
    display: flex;
}

.form input {
    font-family: Raleway;
    font-size: 14px;
    flex: 0.7;
    border: 1px solid;
    border-radius: 2px;
    border-color: var(--very-dark-blue);
    padding: 15px;
}

.form input ::placeholder {
    color: var(--light-gray);
}

.form-button {
    font-family: Raleway;
    font-weight: 700;
    color: var(--white);
    border: 1px solid;
    border-color: var(--bright-Blue);
    background-color: var(--bright-Blue);
    border-radius: 2px;
    padding: 15px;
    margin-left: 10px;
    flex: 0.3;
}

.block-1 {
    background-color: var(--light-grayish-blue);
    margin-top: 100px;
    padding: 50px 0;
    position: relative;
}

.block-1::before {
    content: '';
    background-image: url('./images/bg-curve-desktop.svg');
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: -60px;
    width: 100%;
    height: 60px;
}

.testimonial {
    background-color: var(--white);
    padding: 25px;
    border-radius: 5px;
    width: 42%;
    margin-top: 2em;
    box-shadow: 0 0 10px --;
}

.testimonial p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 1px;
}

.user-info {
    display: flex;
    margin-top: 20px;
}

.user-info img {
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}

.user-info h4 {
    margin: 0;
    font-weight: 700;
}

.block-sec {
    background-color: var(--desaturated-blue);
    color: var(--white);
    padding: 50px 0px;
}

.block-sec form {
    flex-direction: column;
}

.block-sec form button {
    background-color: var(--bright-Blue);
    color: var(--white);
    flex: 1;
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
}

.block-sec form input {
    padding: 15px 200px 15px 10px;
    color: var(--light-gray);
    border: none;
    box-shadow: 0 0 10px var(--light-gray);
}

.footer {
    background-color: var(--very-dark-blue);
    color: var(--white);
    padding: 50px 0;
}

.footer ul {
    list-style: none;
    font-family: OpenSans;
}

.footer ul li {
    margin-bottom: 20px;
}

.footer p {
    text-align: right;
}

.social-media {
    display: flex;
    align-content: center;
    justify-content: center;
}

.circle {
    color: var(--white);
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    text-decoration: none;
}