@font-face {
    font-family: Raleway;
    src: url("Raleway/static/Raleway-Regular.ttf");
    font-weight: 400
}

@font-face {
    font-family: Raleway;
    src: url("Raleway/static/Raleway-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Open Sans;
    src: url("Open_Sans/static/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf");
    font-weight: 400
}

:root {
    /* # Primary */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    /* # Accent */
    --bright-Blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    /* # Neutral */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    --white: #ffffff;
    --margin-left: 5em;
    --magin-right: 5em;
    box-sizing: border-box;
    font-size: 15px;
}


/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

body {
    margin: 0;
    font-family: Open Sans;
    font-size: 1.1em;
    color: var(--very-dark-blue);
}

img {
    max-width: 100%;
}

.flex>div,
.flex>ul {
    flex: 1;
}

h1,
h2,
h4 {
    font-family: Raleway;
}

h2 {
    font-size: 1.8em;
}

.container {
    padding: 30px;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin-left: 50px;
}

nav ul a {
    color: var(--very-dark-blue);
    font-family: Raleway;
    text-decoration: none;
}

.form {
    display: flex;
}

.form input {
    font-family: Raleway;
    font-size: 14px;
    flex: 0.7;
    border: 1px solid;
    border-radius: 2px;
    border-color: var(--very-dark-blue);
    padding: 15px;
}

.form input ::placeholder {
    color: var(--light-gray);
}

.form-button {
    font-family: Raleway;
    font-weight: 700;
    color: var(--white);
    border: 1px solid;
    border-color: var(--bright-Blue);
    background-color: var(--bright-Blue);
    border-radius: 2px;
    padding: 15px;
    margin-left: 10px;
    flex: 0.3;
}

.first-c {
    background-color: var(--light-grayish-blue);
    margin-top: 100px;
    padding: 50px 0;
    position: relative;
}

.first-c ::before {
    background-image: url('./images/bg-curve-desktop.svg');
}

.testimonial {
    background-color: var(--white);
    padding: 25px;
    border-radius: 5px;
    width: 80%;
}

.testimonial p {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1px;
}